<connection.Settings>
  <connSettings>
    <connection.ConnectionSettings>
      <connectionName>irc.esper.net</connectionName>
      <server>irc.esper.net</server>
      <port>6667</port>
      <serverPassword></serverPassword>
      <ssl>false</ssl>
      <connectOnStart>false</connectOnStart>
      <nickname>Freek</nickname>
      <nickPassword>nothispassword</nickPassword>
      <ident>Freek</ident>
      <autoJoin>
        <string>#dgr</string>
        <string>#pesterchum</string>
        <string>#kellyirc</string>
        <string>#kwrpg</string>
      </autoJoin>
      <performOnConnect/>
    </connection.ConnectionSettings>
    <connection.ConnectionSettings>
      <connectionName>EsperNet</connectionName>
      <server>irc.esper.net</server>
      <port>6667</port>
      <serverPassword></serverPassword>
      <ssl>false</ssl>
      <connectOnStart>false</connectOnStart>
      <nickname>KEllyFreek</nickname>
      <nickPassword></nickPassword>
      <ident>KEllyFreek</ident>
      <autoJoin>
        <string></string>
      </autoJoin>
      <performOnConnect>
        <string>/join #kellyirc</string>
        <string>/join #POCWORKS</string>
        <string>/me #kellyirc has arrived, bitches</string>
        <string>/msg #kellyirc perform on connect works!</string>
      </performOnConnect>
    </connection.ConnectionSettings>
  </connSettings>
  <chatLogs>false</chatLogs>
  <minimizeTray>false</minimizeTray>
  <nicksIgnored/>
  <outputColors>
    <entry>
      <short>0</short>
      <string>dark gray</string>
    </entry>
    <entry>
      <short>1</short>
      <string>black</string>
    </entry>
    <entry>
      <short>2</short>
      <string>red</string>
    </entry>
    <entry>
      <short>3</short>
      <string>purple</string>
    </entry>
    <entry>
      <short>4</short>
      <string>black</string>
    </entry>
    <entry>
      <short>-1</short>
      <string>white</string>
    </entry>
  </outputColors>
  <roomStatusColors>
    <entry>
      <int>0</int>
      <org.eclipse.swt.graphics.RGB>
        <red>0</red>
        <green>0</green>
        <blue>0</blue>
      </org.eclipse.swt.graphics.RGB>
    </entry>
    <entry>
      <int>1</int>
      <org.eclipse.swt.graphics.RGB>
        <red>255</red>
        <green>0</green>
        <blue>255</blue>
      </org.eclipse.swt.graphics.RGB>
    </entry>
    <entry>
      <int>2</int>
      <org.eclipse.swt.graphics.RGB>
        <red>255</red>
        <green>0</green>
        <blue>0</blue>
      </org.eclipse.swt.graphics.RGB>
    </entry>
    <entry>
      <int>3</int>
      <org.eclipse.swt.graphics.RGB>
        <red>0</red>
        <green>255</green>
        <blue>0</blue>
      </org.eclipse.swt.graphics.RGB>
    </entry>
  </roomStatusColors>
  <quicklinks>
    <entry>
      <string>google</string>
      <string>http://google.com/?q=%INPUT%</string>
    </entry>
  </quicklinks>
  <timestampsEnabled>true</timestampsEnabled>
  <timestampFormatPattern>[hh:mm:ss]</timestampFormatPattern>
</connection.Settings>