<connection.Settings>
  <connSettings>
    <connection.ConnectionSettings>
      <connectionName>es</connectionName>
      <server>irc.esper.net</server>
      <port>6667</port>
      <serverPassword></serverPassword>
      <ssl>false</ssl>
      <connectOnStart>true</connectOnStart>
      <nickname>nofuckyoumocuto</nickname>
      <nickPassword></nickPassword>
      <ident>kj</ident>
      <autoJoin>
        <string>#DGR</string>
      </autoJoin>
    </connection.ConnectionSettings>
  </connSettings>
</connection.Settings>